/* Dashboard */
.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #056cd3;
}
.dashboard{
    display: flex;
    justify-content: space-around;
    min-height: 95vh;
    padding: 2rem;
    gap:5px;
}
.dashboard>aside{
    flex: 0 1 240px;
    border: 2px solid #455895;
    padding: 2rem;
}
.dashboard>main{
    flex: 1;
    border: 2px solid #af6745;
    padding: 2rem;    
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}
.cards{
    border: 2px dashed darkcyan;
    
}
.principal{
    border: 2px dashed darkgoldenrod;
    height: 100vh;}
