*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgb(224, 228, 176);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p{
    padding: 4px 6px 8px 10px;
    font-size: 0.75rem;    
    border:2px violet solid;
}
img{
    width: 350px;
    height: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    border: 2px solid #990000;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    border: 2px dotted #1234;
    height: calc(100vh-60px);
}
#main{
    flex: 1;
    min-width: 0;
    border: 1px black solid
}
#aside{
    flex: 0 0 150px;
    margin-top: 10px;
    position: sticky;
    border: 1px rgb(221, 103, 103) solid;
    
}